<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ============================================ -->
  <!-- ARQUIVO DE PROPRIEDADES                      -->
  <!-- Contém todas as constantes e dimensões       -->
  <!-- ============================================ -->

  <!-- Propriedades da Base -->
  <xacro:property name="base_radius" value="0.1"/>
  <xacro:property name="base_height" value="0.2"/>
  <xacro:property name="base_mass" value="2.0"/>

  <!-- TAREFA: Defina as propriedades do Link 1 -->
  <!-- Use os valores da tabela de referência (seção 2.2) -->
  <xacro:property name="RodaEsc_length" value="0.1"/>
  <xacro:property name="RodaEsc_radius" value="0.2"/>
  <xacro:property name="RodaEsc_mass" value="1.0"/>

  <!-- TAREFA: Defina as propriedades do Link 2 -->
  <xacro:property name="RodaDir_length" value="0.1"/>
  <xacro:property name="RodaDir_radius" value="0.2"/>
  <xacro:property name="RodaDir_mass" value="1.0"/>

  <!-- TAREFA: Defina as propriedades do Link 2 -->
  <xacro:property name="Sensor_base_length" value="0.1"/>
  <xacro:property name="Sensor_base_radius" value="0.1"/>
  <xacro:property name="Sensor_base_mass" value="1.0"/>

  <!-- Propriedades do End Effector -->
  <xacro:property name="end_effector_radius" value="0.1"/>
  <xacro:property name="end_effector_mass" value="0.1"/>

  <!-- ============================================ -->
  <!-- MATERIAIS (cores)                            -->
  <!-- ============================================ -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="red">
    <color rgba="0.8 0 0 1"/>
  </material>

  <material name="green">
    <color rgba="0 0.8 0 1"/>
  </material>

</robot>